In [17]:
import pandas as pd
from functools import reduce

In [7]:
df_15 = pd.read_csv("2015_happiness.csv") 
df_16 = pd.read_csv("2016_happiness.csv") 
df_17 = pd.read_csv("2017_happiness.csv") 
df_18 = pd.read_csv("2018_happiness.csv") 
df_19 = pd.read_csv("2019_happiness.csv")

In [8]:
df_15.head()

,Country,Region,HappinessRank,HappinessScore,Standard_Error,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia_Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [9]:
df_16.head()

,Country,Region,HappinessRank,HappinessScore,Lower_Confidence_Interval,Upper_Confidence_Interval,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia_Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [10]:
df_17.head()

,Country,HappinessRank,HappinessScore,Whisker_high,Whisker_low,Economy,Family,Health,Freedom,Generosity,Trust,Dystopia_Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [12]:
df_15 = df_15[['Country', 'HappinessScore']]
df_16 = df_16[['Country', 'HappinessScore']]
df_17 = df_17[['Country', 'HappinessScore']]
df_18 = df_18[['Country', 'HappinessScore']]
df_19 = df_19[['Country', 'HappinessScore']]

In [15]:
df_15 = df_15.rename(columns={'HappinessScore':'HappinessScore2015'})
df_16 = df_16.rename(columns={'HappinessScore':'HappinessScore2016'})
df_17 = df_17.rename(columns={'HappinessScore':'HappinessScore2017'})
df_18 = df_18.rename(columns={'HappinessScore':'HappinessScore2018'})
df_19 = df_19.rename(columns={'HappinessScore':'HappinessScore2019'})

data_frames = [df_15, df_16, df_17, df_18, df_19]

In [18]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Country'],
                                            how='outer'), data_frames).fillna('void')

In [19]:
df_merged.head()

,Country,HappinessScore2015,HappinessScore2016,HappinessScore2017,HappinessScore2018,HappinessScore2019
0,Switzerland,7.587,7.509,7.494,7.487,7.48
1,Iceland,7.561,7.501,7.504,7.495,7.494
2,Denmark,7.527,7.526,7.522,7.555,7.6
3,Norway,7.522,7.498,7.537,7.594,7.554
4,Canada,7.427,7.404,7.316,7.328,7.278